@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recruitment System</h1>
    <p class="lead">Developed in the course IV1201.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register an account to apply today!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Authentication")</p>
        <p>@Html.ActionLink("Login", "Login", "Authentication")</p>
    </div>
</div>