<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDirectory" value="${basedir}/logs"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <!-- Uncomment this to allow NLog to configure CassandraTarget. This points to the required assembly. -->
    <!-- <add assembly="YourAssemblyName"/> -->
  </extensions>
  <targets>
    <!-- Uncomment this to allow NLog to configure CassandraTarget. Note that this requires an assembly. -->
    <!-- <target name="CassandraTarget" type="Cassandra" node="localhost" keyspace="logging" columnfamily="log_entries" replication="1" ttl="0"/> -->
    <target xsi:type="File" name="app" fileName="${var:logDirectory}/app/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message}" />
    <target xsi:type="File" name="exception" fileName="${var:logDirectory}/exception/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <!-- Uncomment this to allow NLog to configure CassandraTarget. Note that this requires an assembly. -->
    <!-- <logger name="*" minlevel="Trace" writeTo="CassandraTarget" /> -->
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="app" />
    <logger name="*" minlevel="Error" writeTo="exception" />
  </rules>
</nlog>