<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InternalServerError</title>
</head>
<body>
    <hgroup>
        <h1>500 SERVER IS DOWN WITH THE SICKNESS</h1>
        <h2>Sorry, please try again in another space and time.</h2>
    </hgroup>
</body>
</html>
