<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localization.Views.Error.Unauthorized.Title</title>
</head>
<body>
    <hgroup>
        <h1>@Localization.Views.Error.Unauthorized.Error</h1>
        <h2>@Localization.Views.Error.Unauthorized.Message.</h2>
    </hgroup>
</body>
</html>
