<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localization.Views.Shared.Error.ErrorName</title>
</head>
<body>
    <hgroup>
        <h1>@Localization.Views.Shared.Error.ErrorName.</h1>
        <h2>@Localization.Views.Shared.Error.GenericErrorMessage.</h2>
    </hgroup>
</body>
</html>
